understanding_word2vec/images/
understanding_word2vec/understanding_word2vec.tex
understanding_word2vec/understanding_word2vec.aux
understanding_word2vec/understanding_word2vec.fdb_latexmk
understanding_word2vec/understanding_word2vec.fls
understanding_word2vec/understanding_word2vec.log
understanding_word2vec/understanding_word2vec.synctex.gz